*{
    box-sizing: border-box;
   
}
.margin {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
}

.cart_item {
    margin-top: 10px;
    height: 390px;
    width: 280px;
    box-shadow: 1px 1px 6px 2px rgb(218, 81, 81);
}






/* ===== Google Font Import - Poppins ===== */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 
nav{
  display: flex;
  height: 80px;
  width: 100%;
  background-image: linear-gradient( 135deg,#a11e3d 25%,   #fd9bb0 10%, #F6416C 100%);
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}
nav .logo{
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: #111;
  background: #fff;
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li {
    margin-left: 0px;
  }
  nav ul li:hover{
    background: palegoldenrod;
    color: cyan;
  }
}




/* About Page */

::selection{
  background: #fee6eb;
}
/* body:before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: circle(55% at right 30%);
  
} */
.Container{
  display: flex;
  max-width: 750px;
  background: #fff;
  border-radius: 12px;
  justify-content: space-between;
  box-shadow: 0px 5px 10px rgba(228, 15, 15, 0.89);
  position: relative;
}
.Container::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  clip-path: circle(65% at right 35%);
  background-image: linear-gradient( 135deg,  #fd9bb0 10%, #F6416C 100%);
}
.Container .box.one{
  padding: 35px 5px 0px 35px;
}
.box.one .details .topic{
  font-size: 30px;
  font-weight: 500;
}
.box.one .details p{
  color: #737373;
  font-size: 13px;
  font-weight: 500;
}
.box.one .rating{
  color: #fd9bb0;
  font-size: 14px;
  margin-top: 10px;
}
.box.one .price-box{
  margin-top: 16px;
}
.box.one .discount{
  font-size: 20px;
  margin: 10px 0 0 12px;
  position: relative;
  color: #737373;
}
.box.one .discount:before{
  position: absolute;
  height: 1px;
  width: 100px;
  background: #737373;
  top: 50%;
  left: -8px;
}
.box.one .price{
  color: #fc6989;
  font-size: 30px;
}
.box.one .button1{
  margin-top: 55px;
}
.box.one .button1 button{
  outline: none;
  border:none;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  background: #00e6e6;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button1 button:hover{
  transform: scale(1.2);
}
.Container .box.two .image-box .image{
  /* border: 3px solid blue; */
  position: relative;
  right: 0;
  top: 0;
  height: 340px;
  width: 430px;
  /* border-radius: 20px; */
}
.Container .box.two .image-box .image .slide{
  height: 300px;
  width: 300px;
border-radius: 20px;
  object-fit: cover;
  margin-top: 20px;
  margin-left: 100px;
}
.Container .box.two .image-box{
  position: relative;
  text-align: right;
  right: 0;
  bottom: 27px;
  border-radius: 20px;
  /* height: 100px; */
}

.box.two .image-box .info{
  margin: 0 35px 0 0;
}
.box.two .info .brand{
 font-size: 17px;
 font-weight: 600;
 color: #c9032e;
}
.box.two .info .name{
 font-size: 20px;
 font-weight: 500;
 color: #fff;
}
.box.two .info .shipping{
 font-size: 14px;
 font-weight: 400;
 color: #000;
}
.box.two .button2{
  margin: 17px 0;
}
.button2 button{
  outline: none;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 12px;
  padding: 8px 17px;
  background: transparent;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
}
.button2 button:hover{
  transform: scale(1.2);
  background-color: white;
  color: black;
}



/* home page  */

.box1{
    border: 1px solid #ccc;
    margin-right: 1%;
    background: white;
    border-radius: 10px;
    transition: 0.9;
}
.box1:hover{
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.5);
    cursor: pointer;
}

@media (max-width: 600px){
    .container{
        width: 85%;
        display: block;
    }
    .box1{
        width: 100%;
        margin-bottom: 4%;
    }
}




/* Login form */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

body{
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to right, #20002c,
 #cbb4d4);
}


.container1{
    display: block;
    width: 350px;
    padding: 20px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.container1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
h1{
    text-align: center;
    color: white;
    text-transform: uppercase;
}


label{
    display: block;
    color: white;
    font-size: 18px;
    margin-top: 10px;
}

input{
    display: block;
    width: 90%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    padding: 10px;
    color: white;
}

.button{
    display: block;
    width: 95%;
    padding: 8px;
    border: none;
    outline: none;
    background: linear-gradient(to right, #cbb4d4, 
    #20002c);
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
}

/* Loading */
.loading-bar {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
}

.load-section {
  top: -35px;
  position: absolute;
  transform: scale(1.5);
}

.circle {
  width: 1px;
  height: 5px;
  position: absolute;
  animation: rotate 3.5s linear infinite;
}

.circle .dot {
  top: 30px;
  width: 7px;
  height: 7px;
  background: #fff;
  border-radius: 50%;
  position: relative;
}

.loading-text {
  color: #fff;
  bottom: -85px;
  font-size: 25px;
  font-weight: 400;
  margin-left: -50px;
  position: absolute;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@keyframes rotate {
  30% {
    transform: rotate(220deg);
  }
  40% {
    transform: rotate(450deg);
    opacity: 1;
  }
  75% {
    transform: rotate(720deg);
    opacity: 1;
  }
  76% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: rotate(0deg);
  }
}
.circle:nth-child(1) {
  animation-delay: 0.15s;
}
.circle:nth-child(2) {
  animation-delay: 0.3s;
}

.circle:nth-child(3) {
  animation-delay: 0.45s;
}

.circle:nth-child(4) {
  animation-delay: 0.6s;
}

.circle:nth-child(5) {
  animation-delay: 0.75s;
}

.circle:nth-child(6) {
  animation-delay: 0.9s;
}



/* eshdbvhsdv */
/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.plus_product {
  position: absolute;
  font-size: large;
  margin-left: 15px;
  background-color: rgb(189, 124, 124);
  padding-bottom: 6px;
  padding-left: 2px;
  height: 25px;
  width: 25px;
  border-radius: 20px;
}



.container {
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}
.slide-container {
  margin: 0 30px;
  overflow: hidden;
}
.card {
  background: #fff;
  border-radius: 8px;
}
.card .image-box {
  height: 200px;
}
.card .image-box img {
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0 0;
}
.card .profile-details {
  display: flex;
  align-items: center;
  column-gap: 12px;
  padding: 15px;
}
.card .profile-details img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.profile-details .name {
  font-size: 15px;
  font-weight: 500;
}
.profile-details .job {
  font-size: 12px;
  font-weight: 500;
  color: #4d4d4d;
}

.swiper-navBtn {
  color: #000;
  height: 40px;
  width: 40px;
  background: #fff;
  border-radius: 50%;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 18px;
}

.swiper-pagination-bullet {
  background-color: #000;
}

@media screen and (max-width: 768px) {
  .swiper-navBtn {
    display: none;
  }
}



/* crausel */

.craousel {
  height: 200px;
    margin: 30px;
    width: 200px;
    border: 3px solid rgb(0, 68, 255);
}
.crrr{
  height: 280px;
  width: 300px;
}
.outerCrow{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
}
